@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;800&family=VT323&display=swap');

/******************************************
/* BASE STYLES
/*******************************************/
/* layout */
body {
  background: #f1f1f1;
  margin: 0;
  font-family: 'Poppins', sans-serif;
}

.pages, .nav.navbar {
  padding: 0 20px;
}

.pages {
  max-width: 1400px;
  margin: 0 auto;
}

.loading-container{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: -webkit-translate(-50%, -50%);
  transform: -moz-translate(-50%, -50%);
  transform: -ms-translate(-50%, -50%);
}

.loading-container img{
  width: 80px;
  height: 80px;
}

/******************************************
/* HOME PAGE LAYOUT
/*******************************************/

/* ========= NAVBAR ========= */

.nav.navbar {
  max-width: 1400px;
  margin: 0 auto;
  color: black;
  padding: 20px 20px;
}

a.nav-link{
  color: black ; 
}

.banner {
  width: 100%;
}

.logo {
  height: 40px;
}

/* ========= PRODUCT ITEMS ========= */
.cut-price {
  text-decoration: line-through;
}

.price {
  font-weight: 500;
}

.sale {
  font-weight: 500;
}

.product {
  font-size: 0.9rem;
  font-weight: 500;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

}

.product-items {
  list-style-type: none;
  padding-left: 0;
  gap: 40px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(238px, 1fr));
  margin: 0;
  padding: 0;
}

.product-items li div{
  transition: all .15s ease-in;
}

.product-items li div:hover{
  border-color: black;
  cursor: pointer;
}

.product-items li a{
  text-decoration: none;
}

.product-img{
  width: 218px;
  height: 218px;
}

/* ========= GROCERIES BANNER ========= */

.groceries{
  height: 408px;
}

.groceries-text{
  background-color: #8D9BA1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #153340;
  padding: 0 7rem;
  width: 50%;
}

.groceries-text p{
  font-weight: 500;
  font-size: 1.1rem;
}

.groceries-image{
  width: 50%;
}

.groceries-img{
  height: 408px;
  object-fit: cover;
  width: 100%;
}


/******************************************
/* CATEGORY PAGE LAYOUT
/*******************************************/
/* ========= CATEGORY NAV ========= */

.categories-nav{
  text-align: center;
}

.categories-list{
  list-style-type: none;
  padding-left: 0px;
}

.categories-list li{
  border: 1px solid darkgray;
  display: inline-block;  
  text-align: center;
  margin: 5px 5px;
  padding: 5px 10px;
  transition: all .2s;
}

.categories-list li a{
  text-decoration: none;
  color: black;
}

.categories-list li:hover{
  border: 1px solid black;
}

.categories-list li:first-letter, .category-title:first-letter{
  text-transform: uppercase;
}


/******************************************
/* MEDIA QUERIES
/*******************************************/

@media (max-width: 790px){
  .groceries-text{
    padding: 0 10px;
  }

  .groceries-text h2{
    font-weight: 500;
  }

  .groceries-text p{
    font-weight: 500;
    font-size: 0.9rem;
  }
}